body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  margin: 0px 20px;
  flex: 1;
}

.main-heading {
  display: flex;
  font-size: 49px;
  text-transform: capitalize;
  margin: 0px;
  justify-content: center;
}

.top-nav {
  display: flex;
  justify-content: space-around;
  background-color: #ffb6c1;

  & a {
    display: flex;
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    flex-grow: 1;
    justify-content: center;
    padding: 6px;
    font-size: 25px;
  }

  & a:hover {
    background-color:rgb(228, 125, 140);
  }
}

.bold {
  font-weight: bold;
}

.imagepizza {
  width: 100%;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
}

.food {
  /* @media (max-width: 400px) {
    width: 100%;
  } */
   flex-grow: 1;
}

footer {
  padding: 10px;
  background-color: #ffb6c1;
}