.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f876;

  
  & h1 {
    font-size: 80px;
    padding: 80px;
    /* TODO: use padding above */
    padding-bottom: 30px;
    padding-top: 30px;
    color: #411364;
    text-align: center;
    margin: 0;
  }

  & .cta-button {
    margin-bottom: 30px;
    font-size: 30px;
    background-color: #411364;
    color: #f8f876;
    padding: 15px;
  }
}